{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<section class="row">

    <section class="col-md-5">
        <header class="main-page"><h5>CUSTOMERS:</h5></header>
        <div class="card card-body">
            <a href="%" class="btn btn-primary btn-sm btn-block">Create Customer</a>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Phone</th>
                        <th>Customer Page</th>
                    </tr>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.phone }}</td>
                            <td><a href="{% url 'customer' customer.id %}" class="btn btn-sm btn-info">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </section>

    <section class="col-md-7">
        <header class="main-page"><h5>LAST 5 ORDERS: </h5></header>
        <section class="card card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.status }}</td>
                        <td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-info">Update</a></td>
                        <td><a href="{% url 'delete_order' order.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
    
</section>

{% endblock %}