<section class="row">

    <section class="col-md">
        <section class="cart text-center text-white mb-3 rounded" id="total-orders">
            <header class="card-header">
                <h5>Total Orders</h5>
            </header>
            <section class="card-body">
                <h3 class="card-title">{{ total_orders }}</h3>
            </section>
        </section>
    </section>

    <section class="col-md">
        <section class="cart text-center text-white mb-3 rounded" id="orders-delivered">
            <header class="card-header">
                <h5>Orders Delivered</h5>
            </header>
            <section class="card-body">
                <h3 class="card-title">{{ delivered }}</h3>
            </section>
        </section>
    </section>

    <section class="col-md">
        <section class="cart text-center text-white mb-3 rounded" id="orders-pending">
            <header class="card-header">
                <h5>Orders Pending</h5>
            </header>
            <section class="card-body">
                <h3 class="card-title">{{ pending }}</h3>
            </section>
        </section>
    </section>

</section>
